.img-1{
    width: 160px;
    margin-top: 20px;
}
header{
    background-color: #F0FFF0;
    
    padding-right: 100px;
    padding-left: 100px;
    
    width: 100%;
    height: 500px;
    

}
.btn{
    border-radius: 20px;
}
.img-2{
    width: 400px;
    
    
}
h6{
    color: red;
}
